.containerCard {
  perspective: 900;
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  .card {
    
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    margin-bottom: 20px;
    .front,
    .back {
      background-color: #134877;
      border-radius: 5px;
      border: 1px solid black;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 310ms;
      transition: transform 310ms;
      transition-timing-function: linear;
      transform-origin: center top;
    }
    .front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transform: rotateY(0deg);
      img {
        min-width: 100%;
        min-height: 100%;
      }
      .frontName {
        position: absolute;
        top: 95%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        background-color: #134877;
        text-align: center;
        font-size: 25px;
      }
    }
    .back {
      transform: rotateY(180deg);
      text-align: center;
      padding-top: 12px;
      h6 {
        font-size: 30px;
        font-weight: 600;
      }
      .error {
        position: absolute;
        top: 90%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        font-weight: 400;
        border-radius: 3px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        background-color: #d9534f;
      }
      .buttons {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 90%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        button {
          border: 1px solid black;
          border-radius: 3px;
          background-color: #022645;
          color: white;
          font-size: 25px;
          padding: 5px 10px;
          margin: 0 10px;
          cursor: pointer;
          &:hover {
            transform: scale(0.95);
          }
        }
      }
    }
    &:hover .front {
      transform: rotateY(-180deg);
    }
    &:hover .back {
      transform: rotateY(0deg);
    }
  }
}
